* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  margin: 10px 15px 15px 15px ;
  height:40px;
  align-items: center;
  border-bottom: 2px solid #dcdcdc75 ;
}

#main-nav {
  display: flex;
  list-style: none;
  font-size: 0.8em;
  }


a {
  padding: 10px;
  color: #4d4d4d;
  text-decoration: none;

}
a:hover {
  color: #4070c7;
}

.searchbar {
  width: 200px;
  height: 25px;
  font-size: 0.7em;
  margin-bottom: 5px;
  margin-left: auto;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #dfdfdf;
}

.sideBarToggle {
  display: none;
}



@media screen and (max-width: 600px) {
  .nav-container {
    border-bottom: none;
  }

/* At mobile view, collapse the links and show the hamburger menu */

  #main-nav {
    display: flex;
    flex-direction: column;
    height: 30px;
    overflow: hidden;
    position:fixed;
    top: 10px;
    left: 10px;
    z-index: 999;

  }

  .searchbar {display: none;}

  .sideBarToggle {
    margin-left: auto;
    display: block;
  }

  .sideBarIcon {
    padding:10px;
    cursor: pointer;
  }


}


@media screen and (max-width: 600px) {

/* at mobile view when responsive class is added, expand the sidebar */

  #main-nav.responsive {
    height:fit-content;
    overflow:visible;
    width: 95%;
    box-shadow: -2px -4px 21px -7px rgba(0,0,0,0.75);
  }


  #main-nav.responsive a:first-child {
    border-bottom: 1px solid #dbdbdb;
  }
}